<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Angular 17</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="checkout" class="nav-link">Checkout</a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link">Back</a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link">Back</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
